# Virtual Environment
.venv

# Byte-compiled Files
__pycache__
bin/

# Datasets
datasets

# trash folder for storing random files
trash

# logs folder stores logging info and checkpoints from training
logs